* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Arial, sans-serif;
}

body {
  background: #f7f7f7;
}

.certificate-section {
  width: 100%;
  padding: 80px 8%;
  text-align: center;
}

.small-title {
  font-size: 16px;
  color: #222;
  font-weight: 800px;
}

.underline {
  width: 55px;
  height: 3px;
  background: #00b894;
  margin: 10px auto 35px auto;
}

.main-title {
  font-size: 32px;
  font-weight: 548;
  margin-bottom: 10px;
  color: #000;
  
}

.desc {
  max-width: 800px;
  margin: auto;
  font-size: 16px;
  color: #444;
  line-height: 26px;
}

.btn-line {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 20px;
  margin: 60px 0 50px 0;
}

.line {
  flex: 1;
  height: 2px;
  background: #0d6efd;
  max-width: 350px;
}

.btn {
  padding: 14px 28px;
  background: #0d6efd;
  border: none;
  color: white;
  font-size: 15px;
  font-weight: 600;
  cursor: pointer;
  border-radius: 2px;
  transition: 0.3s;
}

.btn:hover {
  background: #084298;
}

.certificates {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 25px;
}

.card {
  background: #fff;
  border: 1px solid #ddd;
  padding: 10px;
}

.card img {
  width: 100%;
  height: 200px;
}

