* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-style: normal;
    font-family: 'Arial', sans-serif;
}

.design{
    font-style: normal;
    font-size: 16px;
    color: black;
    text-align: center;
    padding: 60px;
}

.top-title {
    font-style: normal;
    font-size: 18px;
    color: #2c2b2b;
    position: relative;
    display: inline-block;
    margin-bottom: 20px;
}

.top-title::after {
    content: "";
    width: 50px;
    height: 3px;
    background: #00cba9;
    display: block;
    margin: 8px auto 0;
}

.subtitle {
    font-style: normal;
    font-size: 18px;
    color: #2c2b2b;
    margin-bottom: 50px;
    line-height: 28px;
}

.btn-line {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 20px;
  margin: 60px 0 50px 0;
}

.line {
  flex: 1;
  height: 2px;
  background: #0d6efd;
  max-width: 350px;
}

.btn {
  padding: 14px 28px;
  background: #0d6efd;
  border: none;
  color: white;
  font-size: 15px;
  font-weight: 600;
  cursor: pointer;
  border-radius: 2px;
  transition: 0.3s;
}

.btn:hover {
  background: #084298;
}

.certificates {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 25px;
}

.card {
  background: #fff;
  border: 1px solid #ddd;
  padding: 10px;
}

.card img {
  width: 100%;
  height: 200px;
  object-fit: cover;
  display: block;
}