* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-style: normal;
    font-family: 'Arial', sans-serif;
}

.design{
    font-style: normal;
    font-size: 16px;
    color: black;
    text-align: center;
    padding: 60px;
}

.top-title {
    font-style: normal;
    font-size: 18px;
    color: #2c2b2b;
    position: relative;
    display: inline-block;
    margin-bottom: 20px;
}

.top-title::after {
    content: "";
    width: 50px;
    height: 3px;
    background: #00cba9;
    display: block;
    margin: 8px auto 0;
}

.subtitle {
    font-style: normal;
    font-size: 18px;
    color: #2c2b2b;
    margin-bottom: 50px;
    line-height: 28px;
}

.service-container {
    display: flex;
    background-position: 10%;
    justify-content: center;
    align-items: stretch;
    gap: 0px;
    border: 1px solid #f3f1f1;
    background: rgb(240, 228, 228)28);
}

.service-card {
    width: 33.33%;
    padding: 50px 40px;
    border-right: 1px solid #e6e6e6;
    text-align: center;
}

.icon {
    width: 110px;
    height: 110px;
    background: #f8f5f5;
    border-radius: 50%;
    margin: 0 auto 30px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.design-card{
    margin-top: 30px;
    display: flex;
    justify-content: center;
    gap: 60px;
}

.icon img{
    width: 60px;
    height: 60px;
}


.design-cards{
    display: flex;
    justify-content: center;
}

.service-card h2 {
    font-size: 22px;
    font-weight: 600;
    margin-bottom: 20px;
}

.service-card p {
    font-size: 16px;
    color: #0a0a0a;
    font-family: sans-serif;
    line-height: 26px;
    margin-bottom: 40px;
}

.service-card a {
    text-decoration: none;
    font-size: 16px;
    font-weight: bold;
    color: #2c2b2b;
    display: inline-flex;
}

.service-card a span {
    font-size: 16px;
    margin-left: 10px;
}
