h3{
    text-align: center;
}

h2{
    text-align: center;
}

p{
    text-align: center;
}

.design-card{
    margin-top: 20px;
    display: flex;
    justify-content: center;
    gap: 30px;
}

.design-card img{
    width: 80px;
    height: 80px;
}

.design-cards{
    display: flex;
    justify-content: center;
    gap: 50px;
}
