.design{
    text-align: center;
    padding: 60px;
}

.top-title {
    font-size: 16px;
    font-weight: 500;
    color: black;
    position: relative;
    display: inline-block;
    margin-bottom: 20px;
}

.top-title::after {
    content: "";
    width: 50px;
    height: 3px;
    background: #00cba9;
    display: block;
    margin: 8px auto 0;
}

.subtitle {
    font-size: 18px;
    color: #141313;
    margin-bottom: 50px;
    line-height: 28px;
}

.service-container {
    display: flex;
    justify-content: center;
    align-items: stretch;
    gap: 0;
    border: 1px solid #e6e6e6;
    background: white;
}

.service-card {
    width: 33.33%;
    padding: 50px 40px;
    border-right: 1px solid #e6e6e6;
    text-align: center;
}

.icon {
    width: 90px;
    height: 90px;
    background: #f4f4f4;
    border-radius: 50%;
    margin: 0 auto 30px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.design-card{
    margin-top: 20px;
    display: flex;
    justify-content: center;
    gap: 30px;
}

.icon img{
    width: 80px;
    height: 80px;
}


.design-cards{
    display: flex;
    justify-content: center;
    gap: 50px;
}

.service-card h2 {
    font-size: 22px;
    font-weight: bold;
    margin-bottom: 20px;
}

.service-card p {
    font-size: 16px;
    color: #0a0a0a;
    line-height: 26px;
    margin-bottom: 40px;
}

.service-card a {
    text-decoration: none;
    font-size: 16px;
    font-weight: 600;
    color: black;
}

.service-card a span {
    font-size: 18px;
    margin-left: 5px;
}
