* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Arial, sans-serif;
}

.core-values {
  display: flex;
  width: 100%;
}

/* Left Side */
.left-content {
  width: 60%;
  padding: 60px;
  background: #f8fafc;
}

.small-title {
  font-size: 14px;
  color: #444;
  margin-bottom: 10px;
  position: relative;
}

.small-title::before {
  content: "";
  width: 50px;
  height: 3px;
  background: #00b894;
  position: absolute;
  left: 0;
  bottom: -8px;
}

.left-content h1 {
  font-size: 28px;
  font-weight: bold;
  margin-top: 25px;
  color: #222;
  line-height: 1.3;
}

.left-content h1 span {
  color: #00b894;
}

.desc {
  margin-top: 20px;
  font-size: 15px;
  color: #555;
  line-height: 1.7;
  max-width: 520px;
}

/* Grid Boxes */
.values-grid {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  margin-top: 50px;
}

.value-box {
  padding: 35px;
  background: white;
}

.value-box img {
  width: 50px;
  margin-bottom: 15px;
}

.value-box h3 {
  font-size: 18px;
  margin-bottom: 10px;
  color: #111;
}

.value-box p {
  font-size: 14px;
  color: #555;
  line-height: 1.6;
}

/* Right Side Image */
.right-image {
  height: 700px;
  width: 55%;
}

.right-image img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
