iframe {
  border: 1px solid black;
  width: 100%; /* takes precedence over the width set with the HTML width attribute */
}

html {
  font-family: "Helvetica", "Arial", sans-serif;
  letter-spacing: 1px;
  padding-top: 10px;
}

article {
  background-color: rgb(235, 213, 15);
}

article span {
  background-color: black;
  color: white;
  margin: 1px;
}

article,
span {
  padding: 10px;
  border-radius: 7px;
}

article,
div {
  margin: 20px;
}

.collapse {
  visibility: collapse;
}

table {
  border: 1px solid rgb(134, 221, 112);
}

td {
  border: 1px solid gray;
}

body {
  font-family: sans-serif;
  margin: 0;
}

header {
  background: rgb(8, 105, 37);
  height: 100px;
}

h1 {
  text-align: center;
  color: rgb(243, 234, 234);
  line-height: 100px;
  margin: 0;
}

article {
  min-width: 400px;
  padding: 10px;
  margin: 10px;
  background: rgb(134, 228, 110);
}

section {
  display: flex;
  flex-direction: row;
  zoom: 0.8;
}

section {
  flex-wrap: wrap;
}

